.timeline-1 {
    border-left: 3px solid #fff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: #1c1d22;
    margin: 0 auto;
    position: relative;
    padding: 15px;
    list-style: none;
    text-align: left;
    max-width: 75%;
    margin-left: 18%;
}

@media (max-width: 767px) {
    .timeline-1 {
        max-width: 98%;
        padding: 25px;
    }
}

.dashedBorder {
    border-bottom: 1px solid #fff;
}

.timeline-1 .event {
    border-bottom: 1px dashed #fff;
    /* padding-bottom: 25px;
    margin-bottom: 25px; */
    position: relative;
}

@media (max-width: 767px) {
    .timeline-1 .event {
        padding-top: 30px;
    }
}

.timeline-1 .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline-1 .event:before,
.timeline-1 .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-1 .event:before {
    left: -180px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    /* font-size: 0.9em; */
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline-1 .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline-1 .event:after {
    -webkit-box-shadow: 0 0 0 3px #fff;
    box-shadow: 0 0 0 3px #fff;
    left: -20.8px;
    background: #1c1d22;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline-1 .event:after {
        left: -31.8px;
    }
}


.content li{
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
        /* add spacing between items */
}

